body {
    font-size: small;
}

#page-header {
    height: 80px;
    background-color: lightgreen;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    xborder: 10px blue solid;
}

#page-footer {
    height: 50px;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    box-sizing: border-box;
}

#content {
    padding: 10px 20px 30px 40px;
}

.error {
    box-sizing: border-box;
    height: 40px;
    xbackground-color: rgba(255, 0, 0, 0.5);
    background-color: lightpink;
    padding: 10px;
    border: 3px solid darkred;
}